/*{outline: 1px solid rgba(255,0,0,0.4);}*/

.container{
	width: 90%;
	margin: 0 auto;
}
#logo{
	width: 100%;
	margin-bottom: 10px;
}
.logo{
	width: 100%;
	margin-bottom: 30px;
}
#navigation{
	border-bottom: 2px solid #5E5B5B;
	border-top: 2px solid #5E5B5B;
	border-left-style: none;
	border-right-style: none;
	padding: 20px;
	margin-top: 18px;
	margin-bottom: 18px;
	margin-left: 50px;
	margin-right: 50px;
}

.nav{
	display: inline-block;
	width: 24%;
	text-align: center;
	border-right: 2px solid #878585;
}
.nav:last-child{
	border-right: none;
}

#navigation p{ 
	font-family: Times;
	font-weight: bold;
	color: #5E5B5B;
	font-size: 150%;
	margin: 1px;
}
#image{
	margin-top: 10px;
}
.grupo{
	width: 100%;
	margin-top: 30px;
}
#description{
	margin: 55px 130px 55px; 
} 
#description p{
	font-family: Times;
	font-weight: bolder;
	color: #464545;
	font-size: 30px;
	margin: 1px;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}
hr{
	border: 2px solid #B2B1B1;
 	margin: 0 auto;
 	width: 80px;
}
#coders{
	width: 100%;
}
h2{ 
margin-left: 50px;
margin-top: 50px;
}
.raya{
 	border:2px solid black;
 	margin-top: 20px;
 	margin-left: 50px;
 	width: 80px;
}
.foto img { 
	width: 260px;
	height: 260px;
}
.foto {
	width: 260px;
	height: 260px;
	position: relative;
	display: inline-block;
	left: 80px;
	margin: 15px;
}
#nombre {
	position: absolute;
	top: 220px;
	left: 130px;
	color: #06C603;
}