/*{outline: 1px solid rgba(255,0,0,0.2);}*/

.container{
	width: 70%;
	margin: 0 auto;
	text-align: center;
}
#logo{
	width: 100%;
	margin-bottom: 10px;
}
.logo{
	max-width: 100%;
	margin-bottom: 30px;
}
#navigation{
	border-bottom: 2px solid #5E5B5B;
	border-top: 2px solid #5E5B5B;
	border-left-style: none;
	border-right-style: none;
	padding: 20px;
	margin-top: 18px;
	margin-bottom: 18px;
	margin-left: 50px;
	margin-right: 50px;
}

.nav{
	display: inline-block;
	width: 24%;
	text-align: center;
	border-right: 2px solid #878585;
}
.nav:last-child{
	border-right: none;
}
a{
	text-decoration: none;
}
#navigation p{ 
	font-family: Times;
	font-weight: bold;
	color: #5E5B5B;
	font-size: 150%;
	margin: 1px;
}
#image{
	margin-top: 10px;
}
.grupo{
	width: 100%;
	margin-top: 30px;
}
#description{
	margin: 55px 60px 55px; 
} 
#description p{
	font-family: Times;
	font-weight: bolder;
	color: #464545;
	font-size: 30px;
	margin: 1px;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}
hr {
	border: 2px solid #B2B1B1;
 	margin: 0 auto;
 	width: 80px;
}
#coders{
	width: 100%;
	text-align: left;
}

h2{ 
margin-top: 50px;
}

.raya{
 	border:2px solid black;
 	margin-top: 10px;
 	width: 80px;
 	text-align: ;
}
.coders{
	padding: 0;
}
.foto img { 
	width: 100%;
	height: 260px;
}
.foto {
	width: 26%;
	height: 260px;
	position: relative;
	display: inline-block;
	left: 80px;
	margin: 15px;
}
#nombre {
	position: absolute;
	padding: 0;
	bottom: 0;
	right: 10px;
	color: #FFFFFF;
}